* {
    margin: 0.5rem auto;
    /* padding: 0.5rem; */
    text-align: center;
    color: #184d47;
}

body {
    background-color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;    
    background: linear-gradient(to bottom, #ffffff 0%, #ccffff 100%);
}

table {
    background: linear-gradient(to top, #ffffff 0%, #ccffff 100%);
}

table, thead, tbody, th, td {
    padding: 3px;
    border: 1px solid black;
    border-collapse: collapse;
}

.cur-date {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.team-error, .member-error, .month-error, .we-error {
    color: red;
    margin: 0 auto;
}

.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 4px 8px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #4CAF50;
}

.btn:hover {
    background-color: #46a049;
}

.NS {
    background-color: lightgray;
}

.FS {
    background-color: lightblue;
}

.WE {
    background-color: greenyellow;
}

.GS {
    background-color: lightsalmon;
}

.SS {
    background-color: lightgoldenrodyellow;
}

.PL {
    background-color: lightyellow;
}